.SynthRoom {
  font-family: 'Pitcrew', sans-serif;
  width: 100%;

  display: flex;
  flex-flow: wrap;

  grid-column-gap: 20px;
  grid-row-gap: 20px;

  padding: 20px;

  .Row {
    &:first-child {
      width: 59.4%;
      height: min-content;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      background: var(--rave-purple);
      border-radius: 20px;
      padding: 20px 20px 28px 20px;
    }

    &:nth-child(2) {
      width: 39%;
      height: min-content;

      border-radius: 20px;
      padding: 20px 20px 28px 20px;

      display: grid;
      grid-template-columns: 1fr 1fr;

      background: var(--pink);
    }

    &:nth-child(3) {
      width: 59.4%;
      height: min-content;

      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      border-radius: 20px;
      padding: 20px 20px 28px 20px;
      margin-top: -275px;

      background: var(--dark-green);

      .ButtonSet {
        width: 302%;

        .ToggleButton {
          width: 15.4%;
        }
      }
    }

    .ChebyshevEffect,
    .PingPongDelayEffect,
    .AutoWahEffect,
    .ChorusEffect,
    .PitchShiftEffect,
    .FeedbackDelayEffect,
    .PhaserEffect,
    .ToneSynth {
      display: contents;
    }
  }

  .Description {
    width: 39%;

    border-radius: 20px;
    padding: 20px;

    background: var(--grey);

    & > p {
      font-size: 340px;

      line-height: 0.5;
      padding: 28px 30px 20px 16px;

      color: var(--white);
    }
  }

  & > div {
    display: flex;

    h1 {
      padding: 0 20px;
      line-height: 60px;
      font-weight: bold;
      text-align: center;
      text-transform: uppercase;
    }

    h2 {
      padding: 0 20px;
      line-height: 60px;
      text-align: center;
      text-transform: uppercase;
      border-bottom: 1px solid var(--white);
    }

    .Slider,
    .Knob,
    .ButtonSet {
      padding: 16px;
      // margin-bottom: -50px;
    }
  }
}

@media (min-width: 1111px) and (max-width: 1290px) {
  .SynthRoom {
    .Row {
      &:first-child {
        width: 59%;
        padding: 16px;
      }

      &:nth-child(2) {
        padding: 16px;
      }

      &:nth-child(3) {
        width: 59%;
        padding: 16px;
        margin-top: -260px;
      }
    }

    .Description {
      & > p {
        font-size: 280px;
      }
    }

    & > div {
      .Slider,
      .Knob,
      .ButtonSet {
        padding: 12px;
      }
    }
  }
}

@media (min-width: 900px) and (max-width: 1110px) {
  .SynthRoom {
    .Row {
      &:first-child {
        width: 58%;
        padding: 16px;
      }

      &:nth-child(2) {
        padding: 16px;
      }

      &:nth-child(3) {
        width: 58%;
        margin-top: -235px;
        padding: 16px;

        .ButtonSet {
          .ToggleButton {
            width: 15%;
          }
        }
      }
    }

    .Description {
      & > p {
        font-size: 210px;
        padding: 20px 8px;
      }
    }
  }
}

@media (min-width: 768px) and (max-width: 899px) {
  .SynthRoom {
    padding: 12px;
    grid-row-gap: 12px;

    .Row {
      &:first-child {
        width: 100%;
        padding: 16px;
      }

      &:nth-child(2) {
        width: 100%;
        grid-template-columns: 1fr 1fr 1fr;
      }

      &:nth-child(3) {
        width: 100%;
        padding: 16px;
        margin-top: 0;

        .ButtonSet {
          padding: 12px;
        }
      }
    }

    .Description {
      width: 100%;
      & > p {
        font-size: 250px;
        padding: 20px 20px 120px 20px;
      }
    }

    .Slider,
    .Knob,
    .ButtonSet {
      padding: 12px;
    }
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .SynthRoom {
    padding: 12px;
    grid-row-gap: 12px;

    .Row {
      &:first-child {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        padding: 12px;
      }

      &:nth-child(2) {
        width: 100%;
        grid-template-columns: 1fr 1fr;
        padding: 12px;
      }

      &:nth-child(3) {
        width: 100%;
        margin-top: 0;
        grid-template-columns: 1fr 1fr;
        padding: 12px;

        .ButtonSet {
          display: none;
          .ToggleButton {
          }
        }
      }
    }

    .Description {
      width: 100%;
      & > p {
        font-size: 140px;
        padding: 8px 20px 120px 0px;
      }
    }

    & > div {
      h1 {
      }

      h2 {
      }

      .Slider,
      .Knob,
      .ButtonSet {
        padding: 12px 8px 8px 8px;
      }
    }
  }
}
