.ToggleButton {
  width: 23.4%;
  font-size: 20px;

  border-radius: 6px;

  padding: 4px 8px 32px;

  background-color: var(--acid-green);
  color: var(--black);

  cursor: pointer;

  &:hover:not(.active) {
    background-color: var(--black);
    filter: brightness(90%);
  }

  &.active {
    font-weight: 800;
    color: var(--black);
    background-color: var(--white);
    cursor: default;
  }
}

@media screen and (max-width: 1290px) {
  .ToggleButton {
    width: 23.2%;
  }
}

@media (min-width: 900px) and (max-width: 1110px) {
  .ToggleButton {
    width: 22.7%;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .ToggleButton {
    width: 25%;
  }
}
