.ToggleButton {
  width: 23.4%;
  font-size: 20px;

  border-radius: 6px;

  padding: 4px 8px 32px;

  background-color: var(--acid-green);
  color: var(--black);

  cursor: pointer;

  &:hover:not(.active) {
    background-color: var(--black);
    filter: brightness(90%);
  }

  &.active {
    font-weight: 800;
    color: var(--black);
    background-color: var(--white);
    cursor: default;
  }
}
