:root {
  --white: #ffffff;
  --black: #1b1b1b;
  --rave-purple: #7e2fe1;
  --acid-green: #bdfc2a;
  --pink: #fe4e46;
  --grey: #383838;
  --dark-green: #47b39a;

  --dark-grey: #262626;
  --medium-grey: #8d8d8d;
  --light-grey: #cfcfcf;
}
