:root {
  --white: #ffffff;
  --black: #2c2c2c;
  --rave-purple: #7e2fe1;
  --acid-green: #bdfc2a;
  --pink: #fe4e46;
  --grey: #383838;

  --dark-grey: #262626;
  --medium-grey: #8d8d8d;
  --light-grey: #cfcfcf;
  --dark-green: #00ff29;
}
